:root {
  --section-desc-font-size: 1.2rem;
  --section-padding: 1.5rem 3rem 0 3rem;
  --section-header-font-size: 1.75rem;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--section-padding);
}

.header {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}

.header_text {
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  font-size: var(--section-header-font-size);
  word-break: break-word;
  font-weight: bold;
  color: var(--color-storm);
}

.header_text::before {
  content: '';
  height: 4px;
  background-color: var(--color-storm);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.description {
  font-size: var(--section-desc-font-size);
  font-weight: 600;
  color: var(--color-ash);
}

.images {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  box-sizing: border-box;
}

.image {
  width: 100%;
  padding: 1rem;
  height: auto;
  cursor: zoom-in;
  box-sizing: border-box;
}

.popup_image_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: zoom-out;
  z-index: 100;
  background-color: rgba(86, 92, 94, 0.9);
}

.popup_image {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 768px) {
  :root {
    --section-desc-font-size: 1rem;
    --section-padding: 1.5rem 2rem 0 2rem;
    --section-header-font-size: 1.5rem;
  }

  .images {
    grid-template-columns: 1fr;
  }
}
