.pie_chart_showing {
  display: grid;
  grid-template-columns: 15rem auto;
  grid-template-areas: "piechart table";
  min-height: 15rem;
}
.pie_chart_wrapper {
  position: relative;
  width: 15rem;
  height: 16rem;
  grid-area: piechart;
}
.pie_chart {
  width: 15rem;
  height: 15rem;
}
.pie_chart_percentage {
  position: absolute;
  top: 7.5rem;
  left: 7.5rem;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.75rem;
  font-weight: bold;
  opacity: 0.65;
  text-align: center;
}
.pie_chart_text {
  position: absolute;
  top: 15rem;
  left: 0;
  right: 0;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  font-weight: bold;
  padding-top: 0.5rem;
}
.pie_chart_legend_td {
  width: 1px
}
.pie_chart_legend {
  width: 0.75rem;
  height: 0.75rem;
  border: 3px solid white;
  border-radius: 50%;
}
.details > table {
  grid-area: table;
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}
.details > table > tbody > tr {
  height: 2rem;
}

.details > table > tbody > tr:nth-child(even) {
  background-color: var(--color-gray-shadow);
}
.details > table > tbody > tr > td {
  padding: 0.5rem;
  white-space: nowrap;
}
.details > table > tbody > tr > td:first-child {
  font-weight: bold;
  text-transform: capitalize;
}
.details > table > tbody > tr > td:last-child {
  padding-left: 1rem;
  text-align: right;
}
.pie_chart_row_hover {
  background-color: var(--color-blue-gray) !important;
}

table.with_pie_chart {
  padding-left: 2rem;
}
